<?xml version="1.0" encoding="UTF-8"?>
<java version="17" class="java.beans.XMLDecoder">
 <object class="model.JVMServer" id="JVMServer0">
  <void id="UserList0" property="ul">
   <void property="userTracker">
    <int>3</int>
   </void>
   <void property="users">
    <void method="put">
     <int>0</int>
     <object class="model.User" id="User0">
      <void class="model.User" method="getField">
       <string>username</string>
       <void method="set">
        <object idref="User0"/>
        <string>bob</string>
       </void>
      </void>
      <void class="model.User" method="getField">
       <string>password</string>
       <void method="set">
        <object idref="User0"/>
        <string>ILoveDogs</string>
       </void>
      </void>
      <void class="model.User" method="getField">
       <string>realName</string>
       <void method="set">
        <object idref="User0"/>
        <string>Bob Allen</string>
       </void>
      </void>
      <void class="model.User" method="getField">
       <string>profilePic</string>
       <void method="set">
        <object idref="User0"/>
        <string>hello.jpg</string>
       </void>
      </void>
      <void class="model.User" method="getField">
       <string>status</string>
       <void method="set">
        <object idref="User0"/>
        <boolean>false</boolean>
       </void>
      </void>
      <void class="model.User" method="getField">
       <string>profileData</string>
       <void method="set">
        <object idref="User0"/>
        <string>I like cats</string>
       </void>
      </void>
     </object>
    </void>
    <void method="put">
     <int>1</int>
     <object class="model.User" id="User1">
      <void class="model.User" method="getField">
       <string>username</string>
       <void method="set">
        <object idref="User1"/>
        <string>janice</string>
       </void>
      </void>
      <void class="model.User" method="getField">
       <string>password</string>
       <void method="set">
        <object idref="User1"/>
        <string>CodingRocks</string>
       </void>
      </void>
      <void class="model.User" method="getField">
       <string>realName</string>
       <void method="set">
        <object idref="User1"/>
        <string>Janice Nelson</string>
       </void>
      </void>
      <void class="model.User" method="getField">
       <string>userID</string>
       <void method="set">
        <object idref="User1"/>
        <int>1</int>
       </void>
      </void>
      <void class="model.User" method="getField">
       <string>status</string>
       <void method="set">
        <object idref="User1"/>
        <boolean>true</boolean>
       </void>
      </void>
      <void class="model.User" method="getField">
       <string>profileData</string>
       <void method="set">
        <object idref="User1"/>
        <string>I am a freelance decoder!</string>
       </void>
      </void>
     </object>
    </void>
    <void method="put">
     <int>2</int>
     <object class="model.User" id="User2">
      <void class="model.User" method="getField">
       <string>username</string>
       <void method="set">
        <object idref="User2"/>
        <string>denise</string>
       </void>
      </void>
      <void class="model.User" method="getField">
       <string>password</string>
       <void method="set">
        <object idref="User2"/>
        <string>DeniseRocks</string>
       </void>
      </void>
      <void class="model.User" method="getField">
       <string>realName</string>
       <void method="set">
        <object idref="User2"/>
        <string>denise Nelson</string>
       </void>
      </void>
      <void class="model.User" method="getField">
       <string>userID</string>
       <void method="set">
        <object idref="User2"/>
        <int>2</int>
       </void>
      </void>
      <void class="model.User" method="getField">
       <string>status</string>
       <void method="set">
        <object idref="User2"/>
        <boolean>true</boolean>
       </void>
      </void>
      <void class="model.User" method="getField">
       <string>profileData</string>
       <void method="set">
        <object idref="User2"/>
        <string>I am a freelance decoder!</string>
       </void>
      </void>
     </object>
    </void>
   </void>
  </void>
 </object>
<void class="model.Room" method="getField">
 <string>description</string>
 <void method="set">
  <object class="model.Room" id="Room0">
   <void class="model.Room" method="getField">
    <string>logo</string>
    <void method="set">
     <object idref="Room0"/>
     <string>ILD</string>
    </void>
   </void>
   <void class="model.Room" method="getField">
    <string>RoomID</string>
    <void method="set">
     <object idref="Room0"/>
     <int>4</int>
    </void>
   </void>
   <void class="model.Room" method="getField">
    <string>type</string>
    <void method="set">
     <object idref="Room0"/>
     <boolean>true</boolean>
    </void>
   </void>
  </object>
  <string>Hello</string>
 </void>
</void>
<void class="model.User" id="Field0" method="getField">
 <string>rooms</string>
 <void id="ArrayList0" method="get">
  <object idref="User1"/>
  <void method="add">
   <int>3</int>
  </void>
  <void method="add">
   <int>4</int>
  </void>
  <void method="add">
   <int>0</int>
  </void>
 </void>
</void>
<void idref="ArrayList0"/>
<void class="model.Room" method="getField">
 <string>description</string>
 <void method="set">
  <object class="model.Room" id="Room1">
   <void class="model.Room" method="getField">
    <string>logo</string>
    <void method="set">
     <object idref="Room1"/>
     <string>ILC</string>
    </void>
   </void>
   <void class="model.Room" method="getField">
    <string>RoomID</string>
    <void method="set">
     <object idref="Room1"/>
     <int>3</int>
    </void>
   </void>
   <void class="model.Room" method="getField">
    <string>type</string>
    <void method="set">
     <object idref="Room1"/>
     <boolean>true</boolean>
    </void>
   </void>
  </object>
  <string>Hello</string>
 </void>
</void>
<void class="model.Room" id="Field1" method="getField">
 <string>userTable</string>
 <void id="HashMap0" method="get">
  <object class="model.Room" id="Room2">
   <void class="model.Room" method="getField">
    <string>chatLogTracker</string>
    <void method="set">
     <object idref="Room2"/>
     <int>2</int>
    </void>
   </void>
   <void class="model.Room" method="getField">
    <string>description</string>
    <void method="set">
     <object idref="Room2"/>
     <string>This room is for data science majors!</string>
    </void>
   </void>
   <void class="model.Room" method="getField">
    <string>logo</string>
    <void method="set">
     <object idref="Room2"/>
     <string>GO DS!</string>
    </void>
   </void>
   <void class="model.Room" method="getField">
    <string>type</string>
    <void method="set">
     <object idref="Room2"/>
     <boolean>true</boolean>
    </void>
   </void>
  </object>
  <void method="put">
   <int>1</int>
   <object class="model.Admin"/>
  </void>
  <void method="put">
   <int>0</int>
   <object class="model.Admin"/>
  </void>
 </void>
</void>
<void idref="HashMap0"/>
<void class="model.RoomList" id="Field2" method="getField">
 <string>rooms</string>
 <void id="HashMap1" method="get">
  <void class="model.JVMServer" id="Field3" method="getField">
   <string>rl</string>
   <void id="RoomList0" method="get">
    <object idref="JVMServer0"/>
    <void class="model.RoomList" method="getField">
     <string>roomTracker</string>
     <void method="set">
      <object idref="RoomList0"/>
      <int>5</int>
     </void>
    </void>
   </void>
  </void>
  <object idref="RoomList0"/>
  <void method="put">
   <int>1</int>
   <object class="model.Room" id="Room3">
    <void class="model.Room" method="getField">
     <string>description</string>
     <void method="set">
      <object idref="Room3"/>
      <string>Better Desc</string>
     </void>
    </void>
    <void class="model.Room" method="getField">
     <string>logo</string>
     <void method="set">
      <object idref="Room3"/>
      <string>Bobs room</string>
     </void>
    </void>
    <void class="model.Room" method="getField">
     <string>RoomID</string>
     <void method="set">
      <object idref="Room3"/>
      <int>1</int>
     </void>
    </void>
    <void class="model.Room" method="getField">
     <string>type</string>
     <void method="set">
      <object idref="Room3"/>
      <boolean>true</boolean>
     </void>
    </void>
   </object>
  </void>
  <void method="put">
   <int>2</int>
   <object class="model.Room" id="Room4">
    <void class="model.Room" method="getField">
     <string>chatLogTracker</string>
     <void method="set">
      <object idref="Room4"/>
      <int>2</int>
     </void>
    </void>
    <void class="model.Room" method="getField">
     <string>description</string>
     <void method="set">
      <object idref="Room4"/>
      <string>Direct Message</string>
     </void>
    </void>
    <void class="model.Room" method="getField">
     <string>logo</string>
     <void method="set">
      <object idref="Room4"/>
      <string>janice + bob</string>
     </void>
    </void>
    <void class="model.Room" method="getField">
     <string>RoomID</string>
     <void method="set">
      <object idref="Room4"/>
      <int>2</int>
     </void>
    </void>
    <void class="model.Room" method="getField">
     <string>type</string>
     <void method="set">
      <object idref="Room4"/>
      <boolean>false</boolean>
     </void>
    </void>
   </object>
  </void>
  <void method="put">
   <int>3</int>
   <object idref="Room1"/>
  </void>
  <void method="put">
   <int>4</int>
   <object idref="Room0"/>
  </void>
  <void method="put">
   <int>0</int>
   <object idref="Room2"/>
  </void>
 </void>
</void>
<void idref="HashMap1"/>
<void class="model.Room" id="Field4" method="getField">
 <string>userTable</string>
 <void id="HashMap2" method="get">
  <object idref="Room3"/>
  <void method="put">
   <int>0</int>
   <object class="model.Admin"/>
  </void>
 </void>
</void>
<void idref="HashMap2"/>
<void class="model.Room" id="Field5" method="getField">
 <string>chatLogs</string>
 <void id="HashMap3" method="get">
  <object idref="Room2"/>
  <void method="put">
   <int>0</int>
   <object class="model.ChatLog" id="ChatLog0">
    <void class="model.ChatLog" method="getField">
     <string>chatLogName</string>
     <void method="set">
      <object idref="ChatLog0"/>
      <string>Gaming</string>
     </void>
    </void>
    <void class="model.ChatLog" method="getField">
     <string>chatTracker</string>
     <void method="set">
      <object idref="ChatLog0"/>
      <int>4</int>
     </void>
    </void>
    <void class="model.ChatLog" method="getField">
     <string>locked</string>
     <void method="set">
      <object idref="ChatLog0"/>
      <boolean>true</boolean>
     </void>
    </void>
   </object>
  </void>
 </void>
</void>
<void idref="HashMap3"/>
<void class="model.Room" id="Field6" method="getField">
 <string>userTable</string>
 <void id="HashMap4" method="get">
  <object idref="Room1"/>
  <void method="put">
   <int>1</int>
   <object class="model.Admin"/>
  </void>
 </void>
</void>
<void idref="HashMap4"/>
<void class="model.ChatLog" method="getField">
 <string>chatLogID</string>
 <void method="set">
  <object class="model.ChatLog" id="ChatLog1">
   <void class="model.ChatLog" method="getField">
    <string>chatLogName</string>
    <void method="set">
     <object idref="ChatLog1"/>
     <string>New DM</string>
    </void>
   </void>
   <void class="model.ChatLog" method="getField">
    <string>locked</string>
    <void method="set">
     <object idref="ChatLog1"/>
     <boolean>false</boolean>
    </void>
   </void>
  </object>
  <int>1</int>
 </void>
</void>
<void class="model.Chat" method="getField">
 <string>message</string>
 <void method="set">
  <object class="model.Chat" id="Chat0">
   <void class="model.Chat" method="getField">
    <string>deleted</string>
    <void method="set">
     <object idref="Chat0"/>
     <boolean>true</boolean>
    </void>
   </void>
   <void class="model.Chat" method="getField">
    <string>replyToID</string>
    <void method="set">
     <object idref="Chat0"/>
     <int>-1</int>
    </void>
   </void>
   <void property="chatID">
    <int>3</int>
   </void>
   <void property="pinned">
    <boolean>false</boolean>
   </void>
   <void property="timeStamp">
    <object class="java.util.Date">
     <long>1652098116187</long>
    </object>
   </void>
  </object>
  <string>Hello</string>
 </void>
</void>
<void class="model.ChatLog" id="Field7" method="getField">
 <string>chat</string>
 <void id="HashMap5" method="get">
  <object idref="ChatLog0"/>
  <void method="put">
   <int>1</int>
   <object class="model.Chat" id="Chat1">
    <void class="model.Chat" method="getField">
     <string>message</string>
     <void method="set">
      <object idref="Chat1"/>
      <string>New Chat</string>
     </void>
    </void>
    <void class="model.Chat" method="getField">
     <string>deleted</string>
     <void method="set">
      <object idref="Chat1"/>
      <boolean>true</boolean>
     </void>
    </void>
    <void class="model.Chat" method="getField">
     <string>replyToID</string>
     <void method="set">
      <object idref="Chat1"/>
      <int>-1</int>
     </void>
    </void>
    <void property="chatID">
     <int>1</int>
    </void>
    <void property="pinned">
     <boolean>true</boolean>
    </void>
    <void property="timeStamp">
     <object class="java.util.Date">
      <long>1652098115633</long>
     </object>
    </void>
   </object>
  </void>
  <void method="put">
   <int>2</int>
   <object class="model.Chat" id="Chat2">
    <void class="model.Chat" method="getField">
     <string>message</string>
     <void method="set">
      <object idref="Chat2"/>
      <string>I love it!</string>
     </void>
    </void>
    <void class="model.Chat" method="getField">
     <string>deleted</string>
     <void method="set">
      <object idref="Chat2"/>
      <boolean>false</boolean>
     </void>
    </void>
    <void class="model.Chat" method="getField">
     <string>replyToID</string>
     <void method="set">
      <object idref="Chat2"/>
      <int>1</int>
     </void>
    </void>
    <void property="chatID">
     <int>2</int>
    </void>
    <void property="pinned">
     <boolean>true</boolean>
    </void>
    <void property="senderID">
     <int>1</int>
    </void>
    <void property="timeStamp">
     <object class="java.util.Date">
      <long>1652098115963</long>
     </object>
    </void>
   </object>
  </void>
  <void method="put">
   <int>3</int>
   <object idref="Chat0"/>
  </void>
  <void method="put">
   <int>0</int>
   <object class="model.Chat" id="Chat3">
    <void class="model.Chat" method="getField">
     <string>message</string>
     <void method="set">
      <object idref="Chat3"/>
      <string>Hello!</string>
     </void>
    </void>
    <void class="model.Chat" method="getField">
     <string>deleted</string>
     <void method="set">
      <object idref="Chat3"/>
      <boolean>true</boolean>
     </void>
    </void>
    <void class="model.Chat" method="getField">
     <string>replyToID</string>
     <void method="set">
      <object idref="Chat3"/>
      <int>-1</int>
     </void>
    </void>
    <void property="pinned">
     <boolean>false</boolean>
    </void>
    <void property="timeStamp">
     <object class="java.util.Date">
      <long>1652098115288</long>
     </object>
    </void>
   </object>
  </void>
 </void>
</void>
<void idref="HashMap5"/>
<void class="model.Room" id="Field8" method="getField">
 <string>userTable</string>
 <void id="HashMap6" method="get">
  <object idref="Room4"/>
  <void method="put">
   <int>1</int>
   <object class="model.Admin"/>
  </void>
  <void method="put">
   <int>0</int>
   <object class="model.Admin"/>
  </void>
 </void>
</void>
<void idref="HashMap6"/>
<void class="model.Room" id="Field9" method="getField">
 <string>chatLogs</string>
 <void id="HashMap7" method="get">
  <object idref="Room4"/>
  <void method="put">
   <int>1</int>
   <object idref="ChatLog1"/>
  </void>
  <void method="put">
   <int>0</int>
   <object class="model.ChatLog" id="ChatLog2">
    <void class="model.ChatLog" method="getField">
     <string>chatLogName</string>
     <void method="set">
      <object idref="ChatLog2"/>
      <string>New DM</string>
     </void>
    </void>
    <void class="model.ChatLog" method="getField">
     <string>locked</string>
     <void method="set">
      <object idref="ChatLog2"/>
      <boolean>false</boolean>
     </void>
    </void>
   </object>
  </void>
 </void>
</void>
<void idref="HashMap7"/>
<void class="model.Room" id="Field10" method="getField">
 <string>userInvites</string>
 <void id="HashMap8" method="get">
  <object idref="Room2"/>
  <void method="put">
   <int>2</int>
   <boolean>true</boolean>
  </void>
  <void method="put">
   <int>1</int>
   <boolean>true</boolean>
  </void>
 </void>
</void>
<void idref="HashMap8"/>
<void class="model.Room" id="Field11" method="getField">
 <string>userTable</string>
 <void id="HashMap9" method="get">
  <object idref="Room0"/>
  <void method="put">
   <int>1</int>
   <object class="model.Admin"/>
  </void>
 </void>
</void>
<void idref="HashMap9"/>
<void class="model.User" id="Field12" method="getField">
 <string>directMessages</string>
 <void id="ArrayList1" method="get">
  <object idref="User1"/>
  <void method="add">
   <int>2</int>
  </void>
  <void method="add">
   <int>-1</int>
  </void>
 </void>
</void>
<void idref="ArrayList1"/>
<void class="model.User" id="Field13" method="getField">
 <string>rooms</string>
 <void id="ArrayList2" method="get">
  <object idref="User0"/>
  <void method="add">
   <int>1</int>
  </void>
  <void method="add">
   <int>0</int>
  </void>
 </void>
</void>
<void idref="ArrayList2"/>
<void class="model.User" id="Field14" method="getField">
 <string>directMessages</string>
 <void id="ArrayList3" method="get">
  <object idref="User0"/>
  <void method="add">
   <int>2</int>
  </void>
  <void method="add">
   <int>-1</int>
  </void>
 </void>
</void>
<void idref="ArrayList3"/>
</java>
